---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Darian Shimy"
	pubDate={new Date('November 05 2024')}
>
	<p>
		I am the founder and CEO of FutureFund Technology, a company that is on a mission to enrich the
		lives of students everywhere through fundraising and volunteering. With 25+ years of experience
		in web-based technologies and managing engineering teams, I know how to turn ideas into reality.
	</p>

	<p>
		At FutureFund, we are at the forefront of reimagining fundraising for K-12 schools, creating a
		platform that is tailor-made to streamline and enhance the fundraising and selling experience,
		ensuring schools have the resources they need to thrive. I am also passionate about coaching and
		mentoring my team, as well as fostering a culture of innovation, collaboration, and social impact.
	</p>
</Layout>
